<h1>New Game</h1>

<%@letters.each do |letter|%>

<h2><%=letter %></h2>

<%end %>


<form action="/score" method="post">
  <label for="form">What is the longest word you can find?</label>
  <input type="text" name="member">
  <input name="form" type="submit" value="Play"/>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

