<h1>New Game</h1>

<h2><%= @letters %></h2>

<form action="/score" method="post">
  <label for="form">What is the longest word you can find?</label>
  <input type="text" name="member">
  <input type="submit">
</form>
